In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [2]:
print(g_key)

AIzaSyBupXBiVn__115QmMSk_iulOyurEgXiEdU

In [3]:
cities_path = "output_data/cities.csv"

In [4]:
cities_df = pd.read_csv(cities_path)
cities_df.dropna()
cities_df

,City,Lat,Lng,Temp,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Torbay,47.6666,-52.7314,62.0,64.0,60.0,92,75,8.23,CA,1635012015
1,Ixtapa,20.7000,-105.2000,86.0,86.0,86.0,82,90,2.68,MX,1635012099
2,Poya,-21.3500,165.1500,69.0,69.0,69.0,90,29,3.21,NC,1635012099
3,Adrar,20.5022,-10.0711,83.0,83.0,83.0,18,50,0.40,MR,1635012100
4,Jamestown,42.0970,-79.2353,47.0,50.0,44.0,83,90,0.89,US,1635011807
...,...,...,...,...,...,...,...,...,...,...,...
545,Kenai,60.5544,-151.2583,40.0,42.0,34.0,88,90,5.66,US,1635012713
546,Corinth,37.9407,22.9573,67.0,71.0,64.0,80,13,1.22,GR,1635012632
547,Mazagão,-0.1150,-51.2894,95.0,95.0,95.0,41,92,2.76,BR,1635012426
548,Palmer,42.1584,-72.3287,56.0,60.0,53.0,50,20,0.45,US,1635012714
549,Båtsfjord,70.6345,29.7185,31.0,31.0,31.0,79,99,5.67,NO,1635012714

In [5]:
locations = cities_df[["Lat", "Lng"]].astype(float)
locations

         Lat       Lng
0    47.6666  -52.7314
1    20.7000 -105.2000
2   -21.3500  165.1500
3    20.5022  -10.0711
4    42.0970  -79.2353
..       ...       ...
545  60.5544 -151.2583
546  37.9407   22.9573
547  -0.1150  -51.2894
548  42.1584  -72.3287
549  70.6345   29.7185

[550 rows x 2 columns]

In [6]:
humidity = cities_df["Humidity"].tolist()
print(humidity)

[92, 82, 90, 18, 83, 83, 80, 84, 91, 96, 64, 81, 73, 78, 96, 72, 60, 65, 88, 82, 100, 77, 76, 72, 82, 58, 77, 68, 92, 58, 74, 58, 91, 85, 78, 37, 99, 89, 61, 12, 85, 93, 70, 95, 97, 47, 68, 41, 91, 84, 78, 78, 50, 90, 81, 93, 70, 83, 99, 94, 94, 50, 55, 78, 93, 71, 62, 27, 91, 73, 82, 82, 47, 60, 72, 84, 57, 65, 77, 86, 77, 71, 76, 79, 71, 94, 74, 20, 69, 96, 97, 86, 92, 27, 86, 70, 78, 97, 88, 71, 35, 65, 62, 61, 49, 97, 71, 91, 59, 96, 95, 100, 57, 78, 77, 91, 73, 95, 68, 78, 68, 81, 70, 72, 69, 97, 80, 61, 71, 94, 74, 88, 38, 17, 84, 71, 24, 78, 19, 71, 84, 75, 87, 60, 59, 91, 65, 77, 83, 62, 74, 94, 81, 92, 60, 38, 85, 86, 28, 83, 77, 96, 79, 79, 72, 73, 89, 82, 79, 17, 82, 66, 87, 94, 47, 18, 63, 79, 85, 65, 54, 36, 52, 78, 100, 61, 76, 90, 76, 82, 70, 19, 86, 88, 84, 57, 83, 77, 97, 53, 69, 95, 66, 74, 78, 79, 44, 93, 87, 80, 70, 22, 70, 92, 37, 95, 63, 74, 29, 57, 42, 74, 87, 72, 94, 95, 80, 78, 85, 95, 54, 83, 97, 57, 74, 89, 84, 89, 87, 49, 99, 94, 76, 84, 75, 79, 78, 79, 57, 71, 50, 85, 87, 83, 77, 90, 75, 65, 100, 74, 70, 38, 83, 94, 98, 58, 83, 68, 66, 78, 88, 72, 59, 84, 76, 69, 92, 97, 66, 80, 70, 56, 97, 30, 92, 80, 62, 60, 75, 71, 74, 31, 100, 51, 76, 57, 60, 79, 59, 64, 76, 67, 80, 15, 81, 88, 53, 78, 35, 78, 74, 52, 63, 56, 69, 69, 80, 39, 70, 70, 84, 71, 99, 86, 92, 25, 85, 26, 68, 40, 100, 84, 45, 75, 95, 85, 60, 11, 90, 54, 56, 82, 83, 58, 49, 65, 94, 97, 72, 73, 69, 99, 68, 49, 79, 88, 48, 50, 64, 81, 98, 80, 97, 83, 96, 94, 87, 60, 59, 88, 81, 60, 90, 77, 87, 89, 17, 56, 61, 71, 13, 83, 23, 10, 77, 17, 67, 70, 90, 68, 69, 23, 64, 83, 53, 66, 40, 84, 86, 86, 87, 74, 67, 69, 69, 99, 74, 88, 94, 99, 82, 67, 58, 64, 68, 83, 90, 78, 79, 88, 80, 13, 87, 36, 94, 95, 16, 59, 57, 47, 84, 54, 33, 69, 64, 72, 90, 66, 40, 66, 85, 38, 98, 90, 93, 80, 72, 80, 58, 44, 43, 58, 88, 60, 77, 84, 69, 62, 18, 85, 77, 49, 52, 79, 54, 81, 62, 70, 77, 48, 83, 96, 59, 84, 54, 100, 28, 30, 55, 91, 83, 38, 88, 95, 77, 58, 79, 99, 66, 73, 59, 68, 69, 55, 77, 52, 83, 67, 81, 91, 34, 93, 97, 84, 69, 69, 97, 87, 79, 76, 39, 14, 93, 32, 79, 70, 75, 90, 51, 69, 32, 74, 64, 60, 97, 98, 62, 72, 74, 50, 98, 72, 79, 96, 82, 23, 81, 89, 80, 63, 62, 49, 50, 83, 97, 88, 80, 41, 50, 79]

In [43]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
hotel_df = cities_df.copy()

In [26]:
hotel_df = hotel_df[hotel_df['Max Temp'] > 70]
hotel_df = hotel_df[hotel_df['Max Temp'] < 80]
hotel_df = hotel_df[hotel_df['Cloudiness'] > 20]
hotel_df = hotel_df[hotel_df['Cloudiness'] < 35]
hotel_df = hotel_df[hotel_df['Wind Speed'] < 10 ]
hotel_df = hotel_df[hotel_df['Humidity'] < 80 ]
hotel_df['Hotel'] = ""
hotel_df

,City,Lat,Lng,Temp,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel
45,Acarí,-15.4311,-74.6158,76.0,76.0,76.0,47,30,4.79,PE,1635012118,
78,Bowen,-20.0167,148.2333,76.0,76.0,76.0,77,34,3.18,AU,1635012172,
164,Makakilo City,21.3469,-158.0858,77.0,78.0,76.0,72,28,6.23,US,1635012284,
179,Ponta do Sol,32.6667,-17.1000,72.0,73.0,71.0,65,26,1.61,PT,1635012213,
216,Gambēla,8.2500,34.5833,77.0,77.0,77.0,63,22,2.01,ET,1635012344,
244,Vila Velha,-20.3297,-40.2925,77.0,77.0,77.0,75,32,6.16,BR,1635012297,
257,Alofi,-19.0595,-169.9187,75.0,75.0,75.0,65,32,8.67,NU,1635012187,
529,Dire Dawa,9.5931,41.8661,72.0,72.0,72.0,50,28,2.95,ET,1635012670,

In [30]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    #"location": (f"{hotel_df[index]},{hotel_df[index]}")  
    "rankby": "distance",
    "type": "hotel",
    "keyword": "hotel",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    city = row['City']
    latitude = row['Lat']
    longitude = row['Lng']

    # add keyword to params dict
    params['location'] = (f"{latitude},{longitude}")

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {city} Hotel is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 45: Acarí.
Closest Acarí Hotel is HOSPEDAJE XIMENA.
------------
Retrieving Results for Index 78: Bowen.
Closest Bowen Hotel is Castle Motor Lodge Motel.
------------
Retrieving Results for Index 164: Makakilo City.
Closest Makakilo City Hotel is Embassy Suites by Hilton Oahu Kapolei.
------------
Retrieving Results for Index 179: Ponta do Sol.
Closest Ponta do Sol Hotel is Enotel Sunset Bay.
------------
Retrieving Results for Index 216: Gambēla.
Closest Gambēla Hotel is Gewa Hotel.
------------
Retrieving Results for Index 244: Vila Velha.
Closest Vila Velha Hotel is Hotel Prainha.
------------
Retrieving Results for Index 257: Alofi.
Closest Alofi Hotel is Taloa Heights.
------------
Retrieving Results for Index 529: Dire Dawa.
Closest Dire Dawa Hotel is Chereka Guzo Hotel.
------------

In [31]:
hotel_df

,City,Lat,Lng,Temp,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel
45,Acarí,-15.4311,-74.6158,76.0,76.0,76.0,47,30,4.79,PE,1635012118,HOSPEDAJE XIMENA
78,Bowen,-20.0167,148.2333,76.0,76.0,76.0,77,34,3.18,AU,1635012172,Castle Motor Lodge Motel
164,Makakilo City,21.3469,-158.0858,77.0,78.0,76.0,72,28,6.23,US,1635012284,Embassy Suites by Hilton Oahu Kapolei
179,Ponta do Sol,32.6667,-17.1000,72.0,73.0,71.0,65,26,1.61,PT,1635012213,Enotel Sunset Bay
216,Gambēla,8.2500,34.5833,77.0,77.0,77.0,63,22,2.01,ET,1635012344,Gewa Hotel
244,Vila Velha,-20.3297,-40.2925,77.0,77.0,77.0,75,32,6.16,BR,1635012297,Hotel Prainha
257,Alofi,-19.0595,-169.9187,75.0,75.0,75.0,65,32,8.67,NU,1635012187,Taloa Heights
529,Dire Dawa,9.5931,41.8661,72.0,72.0,72.0,50,28,2.95,ET,1635012670,Chereka Guzo Hotel

In [33]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = cities_df[["Lat", "Lng"]]

In [37]:
hotel_locations = hotel_df[["Lat", "Lng"]].astype(float)
hotel_info

['\n<dl>\n<dt>Name</dt><dd>HOSPEDAJE XIMENA</dd>\n<dt>City</dt><dd>Acarí</dd>\n<dt>Country</dt><dd>PE</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Castle Motor Lodge Motel</dd>\n<dt>City</dt><dd>Bowen</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Embassy Suites by Hilton Oahu Kapolei</dd>\n<dt>City</dt><dd>Makakilo City</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Enotel Sunset Bay</dd>\n<dt>City</dt><dd>Ponta do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Gewa Hotel</dd>\n<dt>City</dt><dd>Gambēla</dd>\n<dt>Country</dt><dd>ET</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel Prainha</dd>\n<dt>City</dt><dd>Vila Velha</dd>\n<dt>Country</dt><dd>BR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Taloa Heights</dd>\n<dt>City</dt><dd>Alofi</dd>\n<dt>Country</dt><dd>NU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Chereka Guzo Hotel</dd>\n<dt>City</dt><dd>Dire Dawa</dd>\n<dt>Country</dt><dd>ET</dd>\n</dl>\n']

In [46]:
hotel_layer = gmaps.symbol_layer(
    hotel_locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=3,
    info_box_content=hotel_info
)


fig = gmaps.figure()
fig.add_layer(hotel_layer)

fig

TypeError: marker_layer() got an unexpected keyword argument 'fill_color'

In [59]:
hotel_locations_list = []

In [ ]:
for index, row in hotel_df.iterrows():
    hotel_locations_list.append

In [48]:
hotel_layer = gmaps.marker_layer(
    hotel_locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=3,
    info_box_content=hotel_info
)


#fig = gmaps.figure()
#markers = gmaps.marker_layer(params)
#fig.add_layer(markers)
#fig

ValueError: too many values to unpack (expected 2)

In [44]:
# Create a combined map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
fig = gmaps.figure()
markers = gmaps.marker_layer(hotel_layer)
fig.add_layer(markers)
fig

TypeError: object of type 'Markers' has no len()