In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps with API key
gmaps.configure(api_key=g_key)

#declare file path for cities data
cities_path = "output_data/cities.csv"

In [2]:
cities_df = pd.read_csv(cities_path)
cities_df.dropna()
cities_df

,City,Lat,Lng,Temp,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ushuaia,-54.8000,-68.3000,33.0,33.0,33.0,86,75,5.66,AR,1635042608
1,Rikitea,-23.1203,-134.9692,75.0,75.0,75.0,79,100,8.59,PF,1635042618
2,Mar del Plata,-38.0023,-57.5575,50.0,53.0,48.0,72,20,0.89,AR,1635042631
3,East London,-33.0153,27.9116,59.0,59.0,59.0,66,16,7.43,ZA,1635042454
4,Albany,42.6001,-73.9662,45.0,48.0,39.0,77,83,0.45,US,1635042497
...,...,...,...,...,...,...,...,...,...,...,...
548,Escuinapa,22.8500,-105.8000,81.0,81.0,81.0,88,0,1.45,MX,1635043056
549,Zhangye,38.9342,100.4517,50.0,50.0,50.0,45,62,4.39,CN,1635043057
550,Biłgoraj,50.5411,22.7220,39.0,41.0,35.0,92,33,2.80,PL,1635043057
551,Baykit,61.6700,96.3700,35.0,35.0,35.0,95,100,3.86,RU,1635043058
552,Dakar,14.6937,-17.4441,81.0,81.0,76.0,83,40,5.14,SN,1635043041

In [3]:
locations = cities_df[["Lat", "Lng"]].astype(float)
locations

         Lat       Lng
0   -54.8000  -68.3000
1   -23.1203 -134.9692
2   -38.0023  -57.5575
3   -33.0153   27.9116
4    42.6001  -73.9662
..       ...       ...
548  22.8500 -105.8000
549  38.9342  100.4517
550  50.5411   22.7220
551  61.6700   96.3700
552  14.6937  -17.4441

[553 rows x 2 columns]

In [4]:
humidity = cities_df["Humidity"].tolist()
print(humidity)

[86, 79, 72, 66, 77, 79, 37, 33, 97, 53, 92, 86, 96, 95, 78, 77, 81, 100, 94, 52, 79, 19, 79, 93, 92, 87, 78, 57, 46, 81, 83, 48, 86, 99, 89, 90, 65, 56, 75, 63, 70, 95, 78, 18, 74, 39, 60, 89, 81, 86, 81, 23, 74, 84, 90, 85, 94, 77, 47, 76, 44, 80, 23, 53, 66, 73, 66, 89, 93, 66, 76, 72, 78, 95, 58, 68, 87, 35, 66, 91, 58, 94, 87, 58, 81, 69, 75, 42, 88, 86, 58, 80, 57, 90, 75, 99, 80, 84, 96, 75, 86, 67, 90, 37, 64, 61, 94, 70, 84, 77, 88, 72, 32, 78, 65, 89, 76, 69, 72, 63, 64, 75, 59, 76, 51, 73, 80, 89, 97, 34, 34, 49, 57, 99, 41, 94, 70, 57, 89, 81, 83, 61, 93, 63, 84, 59, 72, 69, 64, 65, 90, 53, 94, 42, 77, 93, 84, 22, 77, 61, 74, 75, 83, 91, 76, 19, 80, 16, 18, 83, 68, 24, 100, 72, 94, 88, 73, 79, 83, 96, 88, 88, 78, 14, 48, 86, 74, 88, 83, 92, 50, 60, 69, 90, 67, 51, 94, 58, 23, 80, 96, 85, 34, 68, 70, 43, 94, 21, 100, 77, 97, 54, 85, 95, 78, 29, 93, 65, 84, 63, 87, 50, 99, 76, 95, 59, 85, 48, 90, 68, 83, 84, 83, 64, 74, 89, 78, 62, 75, 78, 92, 91, 71, 26, 69, 71, 78, 83, 86, 85, 51, 51, 90, 83, 74, 87, 94, 39, 73, 91, 44, 82, 54, 52, 45, 91, 89, 94, 96, 91, 62, 92, 72, 91, 93, 35, 81, 84, 56, 88, 95, 87, 91, 64, 80, 73, 60, 16, 69, 96, 89, 48, 88, 71, 74, 61, 72, 88, 92, 72, 83, 73, 88, 79, 91, 95, 91, 89, 70, 10, 74, 74, 99, 56, 89, 69, 80, 97, 72, 74, 55, 78, 58, 66, 84, 66, 88, 95, 98, 83, 68, 43, 44, 86, 59, 58, 87, 71, 60, 73, 55, 46, 23, 88, 50, 55, 71, 63, 96, 87, 73, 97, 92, 65, 80, 77, 86, 62, 54, 92, 78, 86, 80, 89, 58, 93, 37, 73, 93, 92, 87, 69, 95, 76, 54, 98, 26, 85, 77, 78, 62, 81, 94, 54, 94, 89, 55, 87, 83, 86, 59, 95, 80, 82, 95, 12, 51, 58, 82, 62, 73, 87, 98, 56, 91, 74, 89, 51, 84, 36, 51, 61, 67, 83, 23, 61, 93, 74, 53, 80, 75, 28, 99, 100, 87, 94, 74, 72, 80, 75, 90, 60, 84, 41, 95, 79, 97, 36, 98, 80, 88, 58, 96, 70, 95, 90, 30, 31, 87, 56, 60, 28, 66, 56, 87, 74, 84, 46, 96, 48, 90, 68, 99, 31, 62, 40, 69, 98, 35, 48, 92, 67, 87, 32, 100, 80, 67, 88, 36, 53, 99, 76, 91, 78, 87, 32, 56, 87, 100, 87, 68, 92, 73, 100, 94, 64, 86, 65, 93, 63, 68, 81, 100, 75, 38, 89, 76, 48, 30, 39, 92, 59, 100, 69, 24, 92, 98, 84, 83, 87, 93, 68, 70, 70, 97, 75, 39, 47, 85, 46, 73, 93, 64, 87, 70, 84, 83, 82, 86, 86, 50, 82, 81, 70, 77, 87, 86, 63, 88, 45, 92, 95, 83]

In [5]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
hotel_df = cities_df.copy()

In [7]:
hotel_df = hotel_df[hotel_df['Max Temp'] > 70]
hotel_df = hotel_df[hotel_df['Max Temp'] < 80]
hotel_df = hotel_df[hotel_df['Cloudiness'] > 20]
hotel_df = hotel_df[hotel_df['Cloudiness'] < 35]
hotel_df = hotel_df[hotel_df['Wind Speed'] < 10 ]
hotel_df = hotel_df[hotel_df['Humidity'] < 80 ]
hotel_df['Hotel'] = ""
hotel_df

,City,Lat,Lng,Temp,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel
70,Poum,-20.2333,164.0167,74.0,74.0,74.0,76,31,2.79,NC,1635042680,
109,Puerto Peñasco,31.3167,-113.5333,76.0,76.0,76.0,77,25,3.13,MX,1635042712,
211,Flinders,-34.5833,150.8552,68.0,74.0,66.0,54,31,5.74,AU,1635042802,
287,Bilma,18.6853,12.9164,79.0,79.0,79.0,16,27,2.50,NE,1635042877,
513,Solapur,17.6833,75.9167,78.0,78.0,78.0,69,25,3.66,IN,1635043033,

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    #"location": (f"{hotel_df[index]},{hotel_df[index]}")  
    "rankby": "distance",
    "type": "hotel",
    "keyword": "hotel",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    city = row['City']
    latitude = row['Lat']
    longitude = row['Lng']

    # add keyword to params dict
    params['location'] = (f"{latitude},{longitude}")

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {city} Hotel is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 70: Poum.
Closest Poum Hotel is Kejaon.
------------
Retrieving Results for Index 109: Puerto Peñasco.
Closest Puerto Peñasco Hotel is Hotel Paraíso.
------------
Retrieving Results for Index 211: Flinders.
Closest Flinders Hotel is Shellharbour Resort & Conference Centre.
------------
Retrieving Results for Index 287: Bilma.
Missing field/result... skipping.
------------
Retrieving Results for Index 513: Solapur.
Closest Solapur Hotel is OYO 24649 Hotel Pride Executive.
------------

In [9]:
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace=True)
hotel_df.dropna(subset = ["Hotel"], inplace=True)
hotel_df

,City,Lat,Lng,Temp,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel
70,Poum,-20.2333,164.0167,74.0,74.0,74.0,76,31,2.79,NC,1635042680,Kejaon
109,Puerto Peñasco,31.3167,-113.5333,76.0,76.0,76.0,77,25,3.13,MX,1635042712,Hotel Paraíso
211,Flinders,-34.5833,150.8552,68.0,74.0,66.0,54,31,5.74,AU,1635042802,Shellharbour Resort & Conference Centre
513,Solapur,17.6833,75.9167,78.0,78.0,78.0,69,25,3.66,IN,1635043033,OYO 24649 Hotel Pride Executive

In [10]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = cities_df[["Lat", "Lng"]]

In [11]:
hotel_locations = hotel_df[["Lat", "Lng"]].astype(float)

In [12]:
fig = gmaps.figure()
markers = gmaps.marker_layer(hotel_locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Create a combined map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))